.nav-link:hover{
    border-bottom: 4px solid rgb(235, 113, 0);
    transition: none;
}


.hero-img .content{
    top: 0;
    width: 60%;
    padding: 4% 0 7% 10%;
}

.hero-img-bg{
  background-size: cover;
  width: 1440px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bg-color{
    background-color: rgb(243, 239, 239);
}

.panel-card{
    background-image: url('../img/panel-careers.webp');
    background-size: cover;
    height: 550px;
    border-radius: 12px;
}

.panel-card1{
    background-image: url('../img/panel-life.webp');
    background-size: cover;
    height: 550px;
    border-radius: 12px;
}

.panel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 60px;
}
  
.terms-div{
    font-size: smaller;
}

.search{
    border: 2px solid lightgray;
    box-sizing: border-box;
    width: 600px;
    padding: 8px;
    border-radius: 6px; 
  }
  
  .search:focus {
    transition: padding 0.3s; 
    padding: 12px; 
    outline: none;
    border: 3px solid rgb(235, 113, 0);
  }
  
  .input {
    display: flex;
    align-items: center; 
  }
  
  .input button {
    margin-left: -90px;
  }
  
  @media (min-width: 1440px) {
    .hero-img .content {
      /* position: fixed;
      top: 0;
      left: 0;
      width: 60%;
      padding: 4% 0 7% 10%;
  
      transform: translate(5%, 5%); */
      
      position: fixed;
      top: 59%;
      left: 35%;
      transform: translate(-50%, -50%);
      width: 40%;
      padding: 4% 0 7% 10%;
    }
  }

  @media(max-width: 724px){
    .hero-img .content{
      display: none;
    }
  }
  
  
  
  
  
  
